.longimage {
    min-height: 100vh;
    width: 100%;
    /* padding: 80px 0; */
    display: flex;
    align-items: center;
}

.longimage .poster1,
.poster2 {
    width: 1313px;
    height: 430px;
    /* background: red; */
}

.poster1 {
    margin-left: auto;
    position: relative;
}

.poster2 {
    margin-right: auto;
    position: relative;
}

.longimage .poster1 {
    margin-bottom: 132px;
    /* left: 0;
    top: 0; */
}

.longimage .poster1 .text-content {
    /* position: absolute; */
    padding: 114px 0 0 120px;
    position: absolute;
    left: 0;
    top: 0;
}

.longimage .poster2 .text-content {
    position: absolute;
    padding: 87px 116px 0 0;
    text-align: right;
    right: 0;
    top: 0;
}

.text-content .title1,
.title2 {
    font-size: 40px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 56px;
    margin: 0;
}

.text-content .content1,
.content2 {
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0;
}

.text-content .content1{
    margin-top: 30px;
}