
.center-logo{
    height: 80px;
    width: calc(100vw - 20px);
    /* display: flex; */
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.center-logo .logo {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.center-logo .logo .logo-image{
    width: 100px;
    height: 27px;
    margin-top: 21px;
    background: red;

}

.center-logo .hamburger{
    width: 80px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.center-logo .hamburger .icon{
    display: block;
    width: 27px;
    height: 27px;
    background: red;
    margin-top: 21px;
}