.unitcard {
    width: 100%;
}

.unitcard .image {
    width: 100%;
}

.unitcard h2 {
    font-size: 24px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 33px;
    margin: 52px 0 17px;
}

.unitcard  p{
    font-size: 16px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 28px;
    height: 28px;
    margin: 0;
    opacity: 0.8;
}