.carousel{
    /* overflow: hidden; */
}

.carousel h1 {
    font-size: 40px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 56px;
    margin: 0;
    text-align: center;
}

.carousel .line {
    width: 52px;
    height: 4px;
    background: linear-gradient(144deg, #4E85DD 0%, #00AFFF 41%, #5145FF 100%, #5145FF 100%);
    margin: 16px auto 0;
}

.carousel .text {
    width: 500px;
    font-size: 20px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
    margin: 26px auto 0;
    opacity: 0.6;
}