html{
  width: 100%;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

body{
  width: 100%;
}

#app{
  width: 100%;
  min-height: 100vh;
  background: #000;
  /* overflow-x: hidden; */
}

.el-row {
  height: 100%;
}

@keyframes global{
  0%{
    /* 时间0.6,移动30px,不透明度0.3-1 */
  }
  100%{

  }
}